@keyframes slide-1 {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-3 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
