/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Bootstrap Icons CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Primary Elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s linear;
  border: none;
  outline: none;
}

:root {
  --hover-color: rgb(42, 141, 136);
  --color: #3c3c3c;
  --light-color: #efefef;
  --background: #fff;
  --dark-color: #000;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--background);
  color: var(--color);
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

p {
  font-size: 400;
}

/* Header Section Start */
/* Top Nav Start */
.nav-top {
  width: 100%;
  height: auto;
  padding: 10px 20px;
  background: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  /* position: absolute; */
  width: 100%;
}

.first-row {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  justify-content: center;
}

.curency select {
  width: 50px;
  height: 30px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--light-color);
  cursor: pointer;
}

.curency select option {
  color: var(--color);
}

.language select {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  color: var(--light-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.language select option {
  color: var(--color);
}

.call {
  height: auto;
}

.call p {
  color: var(--light-color);
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 10px;
}

.call p i {
  font-size: 2rem;
  vertical-align: middle;
}

.second-row h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--light-color);
}

.third-row {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.login-icon {
  display: none;
}

.login {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--light-color);
}

.login:hover {
  text-decoration: underline !important;
}

/* Top Nav End */
/* Header Section Start */
header {
  /* position: absolute; */
  width: 100%;
  height: 10vh;
  padding: 10px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

/* Sticky Navbar */
header.sticky {
  position: fixed;
  background: var(--background);
  top: 0;
  left: 0;
}

.sticky .navmenu li a {
  color: var(--color);
}

.sticky .logo {
  width: 100px;
}

header ul {
  position: relative;
}

header ul li {
  position: relative;
  float: left;
}

header ul li a {
  color: var(--dark-color);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 20px 18px;
  display: flex;
  justify-content: space-between;
}

header ul li a:hover {
  color: var(--hover-color);
}

/* DropDown Menu Start */
header ul li ul {
  position: absolute;
  left: -20px;
  width: auto;
  background: var(--background);
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  align-items: center;
  padding: 20px;
  z-index: 2;
  gap: 5rem;
}

header ul li:hover ul {
  display: flex;
}

.dropDown__image {
  width: 300px !important;
  height: 250px !important;
}

.dropDown__image img {
  width: 100% !important;
  height: 100% !important;
}

header ul li ul li {
  float: initial;
  width: 230px;
}

header ul li ul li a {
  padding: 10px 15px;
}

header ul li ul li a:hover {
  letter-spacing: 1.2px;
}

.dropDown__image {
  width: 350px;
  height: 320px;
}

.dropDown__image img {
  width: 100%;
  height: 100%;
}

/* DropDown Menu End */

/* Nav Icons */
.nav-icons-1 {
  display: none;
}

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
  position: relative;
}

.nav-icons .cart {
  position: relative;
}

.nav-icons a i {
  font-size: 2rem;
  color: var(--color);
}

.nav-icons span {
  position: absolute;
  bottom: -3px;
  right: -10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background: var(--color);
  color: var(--light-color);
}

/* Hamburger Section */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  width: 28px;
  height: 3px;
  margin: 5px auto;
  display: block;
  background: var(--color);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

/* Header Section End */

/* Section One Start */
.section-one-container {
  width: 100% !important;
  height: auto !important;
  background: var(--light-color);
}

.section-one-container .cart-header {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--dark-color);
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
}

/* Section One End */
/* section Two Start */
.section-two {
  background: var(--light-color);
  border-top: 1px solid #cdcdcd;
}

.sec-two {
  display: flex;
  align-items: first baseline;
  justify-content: start;
  column-gap: 1rem;
  padding-top: 10px !important;
  padding-left: 5% !important;
}

.sec-two a {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--color);
}

.sec-two a:hover {
  text-decoration: underline !important;
}

.sec-two .arrow {
  font-size: 1.5rem;
  color: var(--dark-color);
}

.sec-two p {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--color);
}
/* section Two End */

/* Section Three Start */
.section-three {
  width: 95% !important;
  margin: auto !important;
  padding-top: 10px !important;
}

.sec-1 .img {
  width: 100%;
  height: auto;
  position: relative;
}

.sec-1 .img img {
  width: 100%;
  height: 100%;
}

.lay-out {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(250, 250, 250, 0.2);
  opacity: 0;
}

.sec-1 .img:hover .lay-out {
  opacity: 1;
}

/* Article details */
.article-details {
  margin-top: 1.2rem;
}

.article-details .box-1 h1 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--dark-color);
}

.pic1-info-icons {
  display: flex;
  align-items: first baseline;
  column-gap: 1rem;
}

.pic1-info-icons .user {
  display: flex;
  align-items: baseline;
  justify-content: center;
  column-gap: 3px;
}

.pic1-info-icons .user i {
  vertical-align: middle;
  font-size: 1.5rem;
  color: var(--color);
}

.pic1-info-icons .user p {
  font-size: 1.5rem;
  color: var(--color);
  font-weight: 500;
}

.pic1-info-icons .time {
  display: flex;
  align-items: baseline;
  justify-content: center;
  column-gap: 3px;
}

.pic1-info-icons .time i {
  vertical-align: middle;
  font-size: 1.5rem;
  color: var(--color);
}

.pic1-info-icons .time p {
  font-size: 1.5rem;
  color: var(--color);
  font-weight: 500;
}

.pic1-info-icons .comment {
  display: flex;
  align-items: baseline;
  justify-content: center;
  column-gap: 3px;
}

.pic1-info-icons .comment i {
  vertical-align: middle;
  font-size: 1.5rem;
  color: var(--color);
}

.pic1-info-icons .comment p {
  font-size: 1.5rem;
  color: var(--color);
  font-weight: 500;
}

article {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color);
}

.sample-text {
  margin-top: 2rem;
}

.sample-text h1 {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--color);
  margin-bottom: 1rem;
}

.sample-text li {
  list-style: disc !important;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color);
}

/* section-1 */
.section-1 {
  margin-top: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #dfdfdf;
}

.section-1 h1 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--dark-color);
  margin-bottom: 1.2rem;
}

.section-1 p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color);
}

.icons {
  margin-top: 2rem;
}

.icons i {
  font-size: 1.5rem;
  color: var(--color);
  cursor: pointer;
  margin-right: 14px;
  font-style: normal !important;
}

.icons i:hover {
  color: var(--hover-color);
}

/* Next & Previous */
.nxt_pre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.previous {
  display: flex;
  column-gap: 5px;
  font-size: 1.5rem;
  cursor: default;
}

.previous p {
  color: var(--color);
}

.next {
  display: flex;
  column-gap: 5px;
  font-size: 1.5rem;
  color: var(--dark-color);
}

.next a {
  color: var(--dark-color);
  font-weight: 600;
}

.next a:hover {
  text-decoration: underline !important;
}

/* Send Message Start */
.send-msg {
  margin-top: 3rem;
  background: var(--light-color);
  padding: 30px 15px;
}

.send-msg label {
  font-size: 2rem;
  font-weight: 500;
  color: var(--dark-color);
  margin-bottom: 2rem;
}

.send-msg form {
  width: 100%;
}

.form-box {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}

.form-box input {
  width: 100%;
  height: 40px;
  background: var(--background);
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color);
  padding-left: 10px;
  border: 1px solid #bcbcbc;
}

textarea {
  border: 1px solid #bcbcbc;
  background: var(--background);
  color: var(--color);
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  padding: 15px;
  margin-top: 1.5rem !important;
  width: 100%;
}

form p {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color);
}

.button {
  margin-top: 2rem;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: var(--background);
  background: var(--dark-color);
  cursor: pointer;
}

.button:hover {
  background: #2c2c2c;
}
/* Send Message End */
/* Section Three End */

/* Category Start */
/* Sec Two */
.sec-2 {
  padding-left: 20px !important;
}
.category {
  margin-bottom: 3rem;
}

.category h1 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--dark-color);
  margin-bottom: 1.4rem;
}

.cartgory-cont {
  display: flex;
  flex-direction: column;
}

.cartgory-cont a {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color);
  line-height: 30px;
}

.cartgory-cont a:hover {
  text-decoration: underline !important;
  color: var(--dark-color);
}
/* Category End */

/* Recent Post Start */
.recent-post {
  margin-bottom: 5rem;
}

.recent-post h1 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--dark-color);
  margin-bottom: 1.4rem;
}

.post-cont {
  display: flex;
  column-gap: 1rem;
  margin-bottom: 1.5rem;
}

.post-cont .img {
  width: 110px;
  position: relative;
}

.post-cont .img img {
  width: 100%;
  max-width: 100px;
}

.lay-out {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(225, 225, 225, 0.4);
  opacity: 0;
}

.img:hover .lay-out {
  opacity: 1;
}

.post-content a {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--dark-color);
}

.post-content a:hover {
  color: var(--hover-color);
  text-decoration: underline !important;
}

.post-content p {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--color);
}
/* Recent Post End */

/* Winter Img Start */
.winter-img {
  margin-top: 3rem;
  width: 95%;
  height: auto;
}

.winter-img img {
  width: 100%;
  height: 100%;
}
/* Winter Img End */

/* Trending Now Start */
.trending-now {
  margin-top: 4rem;
}
.trending-now h1 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--dark-color);
  margin-bottom: 1.4rem;
}

.trending-content {
  display: flex;
  column-gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.trending-content .img {
  width: 80px;
  height: 100px;
  position: relative;
}

.trending-content .img img {
  width: 100%;
  height: 100px;
}

.trending-info a {
  font-size: 1.5rem !important;
  font-weight: 500;
  color: var(--dark-color);
}

.trending-info a:hover {
  color: var(--hover-color);
  text-decoration: underline !important;
}

.trending-info p {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--dark-color);
}
/* Trending Now End */

/* Subscribe Section Start */
.sub-content {
  background: #cecece;
  padding: 10px 5px;
}

.sub-box {
  padding: 10px 0 !important;
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  padding: 10px 0;
}

.label {
  row-gap: 0;
  text-align: center;
}

.label h4 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #222;
}

.label h1 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color);
}

.subscribe-form {
  width: 100%;
  height: 40px;
  /* border: 1px solid #111; */
  display: flex;
  align-items: center;
}

.subscribe-form input {
  width: 80%;
  height: 40px;
  font-size: 1.8rem;
  color: var(--color);
  padding-left: 10px;
  border-right: none;
  border: 1px solid #999;
  outline: none;
}

::placeholder {
  font-size: 1.6rem;
  font-weight: 500;
  color: #444;
}

.btn-1 {
  width: 120px;
  height: 40px;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--light-color);
  background: #000;
  cursor: pointer;
}

.btn-1:hover {
  background: var(--color);
}

.subscribe i {
  font-size: 2rem;
  cursor: pointer;
  color: var(--color);
}

.subscribe i:hover {
  color: var(--hover-color);
}

/* Subscribe Section End */

/* Footer Section Start */
.footer-box {
  background: var(--color);
  padding: 5px 3% !important;
}

.footer-row-box {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  align-items: center;
}

.footer-underline {
  border-bottom: 1px solid #999;
  padding-bottom: 3rem;
}

.footer-sec {
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2rem !important;
}

.footer-title {
  font-size: 2rem;
  color: var(--background);
  margin-bottom: 2rem;
}

.footer-sec a {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--light-color);
}

.footer-sec a:hover {
  text-decoration: underline !important;
  color: var(--hover-color);
}

.location {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  column-gap: 1rem;
}

.location i {
  font-size: 2rem;
  vertical-align: middle;
  color: var(--light-color);
}

.location p {
  font-size: 1.2rem;
  font-family: 400;
  color: var(--light-color);
  width: 70%;
}

.bottom-footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  column-gap: 1rem;
  /* margin-bottom: -20px; */
}

.bottom-footer-row h1 {
  font-size: 1.8rem;
  color: var(--light-color);
  font-weight: 400;
}

.bottom-footer-row img {
  width: 300px;
}

/* Footer Section End */
