/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Bootstrap Icons CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Primary Elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s linear;
  border: none;
  outline: none;
}

:root {
  --hover-color: rgb(243, 142, 159);
  --color: #3c3c3c;
  --light-color: #efefef;
  --background: #fff;
  --dark-color: #000;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--background);
  color: var(--color);
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

p {
  font-size: 400;
}

/* Header Section Start */
/* Top Nav Start */
.nav-top {
  width: 100%;
  height: auto;
  padding: 10px 20px;
  background: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  /* position: absolute; */
  width: 100%;
}

.first-row {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  justify-content: center;
}

.curency select {
  width: 50px;
  height: 30px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--light-color);
  cursor: pointer;
}

.curency select option {
  color: var(--color);
}

.language select {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  color: var(--light-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.language select option {
  color: var(--color);
}

.call {
  height: auto;
}

.call p {
  color: var(--light-color);
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 10px;
}

.call p i {
  font-size: 2rem;
  vertical-align: middle;
}

.second-row h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--light-color);
}

.third-row {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.login-icon {
  display: none;
}
.login {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--light-color);
}

.login:hover {
  text-decoration: underline !important;
}

/* Top Nav End */
/* Header Section Start */
header {
  /* position: absolute; */
  width: 100%;
  height: 10vh;
  padding: 10px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

/* Sticky Navbar */
header.sticky {
  position: fixed;
  background: var(--background);
  top: 0;
  left: 0;
}

.sticky .navmenu li a {
  color: var(--color);
}

.sticky .logo {
  width: 100px;
}

header ul {
  position: relative;
}

header ul li {
  position: relative;
  float: left;
}

header ul li a {
  color: var(--dark-color);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 20px 18px;
  display: flex;
  justify-content: space-between;
}

header ul li a:hover {
  color: var(--hover-color);
}

/* DropDown Menu Start */
header ul li ul {
  position: absolute;
  left: -20px;
  width: auto;
  background: var(--background);
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  align-items: center;
  padding: 20px;
  z-index: 2;
  gap: 5rem;
}

header ul li:hover ul {
  display: flex;
}

.dropDown__image {
  width: 300px !important;
  height: 250px !important;
}

.dropDown__image img {
  width: 100% !important;
  height: 100% !important;
}

header ul li ul li {
  float: initial;
  width: 230px;
}

header ul li ul li a {
  padding: 10px 15px;
}

header ul li ul li a:hover {
  letter-spacing: 1.2px;
}

.dropDown__image {
  width: 350px;
  height: 320px;
}

.dropDown__image img {
  width: 100%;
  height: 100%;
}

/* DropDown Menu End */

/* Nav Icons */
.nav-icons-1 {
  display: none;
}

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
  position: relative;
}

.nav-icons .cart {
  position: relative;
}

.nav-icons a i {
  font-size: 2rem;
  color: var(--color);
}

.nav-icons span {
  position: absolute;
  bottom: -3px;
  right: -10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background: var(--color);
  color: var(--light-color);
}

/* Hamburger Section */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  width: 28px;
  height: 3px;
  margin: 5px auto;
  display: block;
  background: var(--color);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

/* Header Section End */

/* Section One Start */
.section-one-container {
  width: 100% !important;
  height: auto !important;
  background: var(--light-color);
}

.section-one-container .cart-header {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--dark-color);
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
}

/* Section One End */

/* Congratlation Section Start */
.congrat {
  width: 95% !important;
  margin: 50px auto 0 !important;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.congrat-box {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.congrat-box i {
  font-size: 2.3rem;
  color: #155724;
  vertical-align: middle;
}

.congrat-box p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #155724;
  margin-top: 10px;
}

/* Congratlation Section End */

/* Table Section Start */
table {
  width: 95% !important;
  margin: 40px auto 0 !important;
  border-collapse: collapse;
}

.table-row {
  background: var(--light-color);
  height: 50px;
}

.table-head {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--dark-color);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.cart-img {
  width: 100px;
  height: 150px;
  position: relative;
}

.cart-img img {
  width: 100%;
  height: 100%;
}

.table-main-data {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 2rem;
}

.cart-img .layer {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(250, 250, 250, 0.4);
  opacity: 0;
}

.cart-img:hover .layer {
  opacity: 1;
}

.cart-content h1 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--dark-color);
}

.cart-content h3 {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color);
}

.table-main-price h1 {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--color);
}

.table-main-total h1 {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--color);
}

.value-box {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.value-box i {
  font-size: 3rem;
  color: #555;
  cursor: pointer;
}

.value-box i:hover {
  color: #222121;
}

.value-box .value {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color);
}

.table-main-close i {
  padding: 5px 8px;
  background: var(--dark-color);
  color: var(--background);
  font-size: 2.2rem;
  cursor: pointer;
}

.table-main-close i:hover {
  background: rgba(4, 9, 30, 0.7);
}

.cart-btns {
  padding: 20px 0;
}

.cart-btn a {
  padding: 8px 25px;
  background: var(--dark-color);
  color: var(--background);
  font-size: 1.5rem;
  cursor: pointer;
}

.cart-btn a:hover {
  background: #1c1c1c;
}

.cart-buttons {
  width: 95% !important;
  margin: auto !important;
}

.cart_btn {
  padding-top: 15px !important;
  height: 50px !important;
}

.cart-btn1 {
  padding: 8px 20px;
  width: 100%;
  background: var(--dark-color);
  color: var(--background);
  font-size: 1.5rem !important;
}

.cart-btn1:hover {
  background: #2c2c2c;
}

.cart_btn-1 {
  padding-top: 15px !important;
  height: 50px !important;
}

#cart-btn2 {
  float: right;
}

.cart-btn1 {
  padding: 6px 15px;
  width: 50px;
  height: 30px;
  background: var(--dark-color);
  color: var(--background);
  font-size: 1.3rem;
  margin: 0 10px;
}

.cart-btn1:hover {
  background: #2c2c2c;
}

/* Table Section End */

/* Section Two Start */
.secion_two {
  width: 95% !important;
  margin: auto !important;
  padding-top: 60px !important;
}

.discount-code h1 {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--dark-color);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 10px;
}

.discount-code p {
  font-size: 1.5rem;
  font-weight: 450;
  color: var(--color);
}

form {
  padding-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

form input {
  border: 1px solid var(--color);
  width: 90%;
  height: 40px;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--dark-color);
  padding-left: 10px;
  text-transform: uppercase;
}

.coupon_btn {
  width: 120px;
  height: 40px;
  background: var(--dark-color);
  color: var(--background);
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 1rem;
}

.coupon_btn:hover {
  background: var(--color);
}

.shipping h1 {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--dark-color);
  margin-bottom: 10px;
}

.shipping p {
  font-size: 1.7rem;
  font-weight: 450;
  color: var(--color);
}

#address_country,
#address_province {
  width: 90%;
  height: 40px;
  border: 1px solid var(--color);
  margin-top: 0.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color);
  cursor: pointer;
}

option {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color);
}

.state {
  margin-top: 1rem;
}

.state p {
  font-size: 2rem;
  font-weight: 450;
  color: var(--color);
}

#zipcode {
  margin-top: 1rem;
}

#zipcode label {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--color);
}

#zipcode input {
  width: 90%;
  height: 40px;
}

#zipcode .zipCode-btn {
  width: 170px;
  height: 40px;
  background: var(--dark-color);
  color: var(--background);
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 1rem;
}

#zipcode .zipCode-btn:hover {
  background: var(--color);
}

.check_out .box-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2rem;
}

.check_out .box-1 h1 {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--color);
}

.check_out .box-1 p {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--color);
}

.box-2 {
  margin-top: 1.5rem;
  padding-left: 10px;
  padding-right: 10px;
}

.box-2 p {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color);
  font-style: italic;
  margin-bottom: 1rem;
}

.check-box {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.check-box h3 {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color);
}

.proceed {
  padding: 14px 45px;
  background: var(--color);
  margin-left: 25%;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.proceed a {
  color: var(--background) !important;
}

.proceed:hover {
  background: var(--dark-color);
}

.box-2 .img {
  width: 100%;
  height: 100%;
}

.box-2 .img img {
  width: 100%;
  height: 100%;
}

.box-2 a {
  font-size: 1.6rem;
  font-weight: 450;
  color: var(--color);
}

.box-2 a:hover {
  text-decoration: underline !important;
}

/* Section Two End */

/* Footer Section Start */
.footer-box {
  background: var(--dark-color);
  padding: 5px 3% !important;
  margin-top: 50px !important;
}

.footer-row-box {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  align-items: center;
}

.footer-underline {
  border-bottom: 1px solid #999;
  padding-bottom: 3rem;
}

.footer-sec {
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2rem !important;
}

.footer-title {
  font-size: 2rem;
  color: var(--background);
  margin-bottom: 2rem;
}

.footer-sec a {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--light-color);
}

.footer-sec a:hover {
  text-decoration: underline !important;
  color: var(--hover-color);
}

.location {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  column-gap: 1rem;
}

.location i {
  font-size: 2rem;
  vertical-align: middle;
  color: var(--light-color);
}

.location p {
  font-size: 1.2rem;
  font-family: 400;
  color: var(--light-color);
  width: 70%;
}

.bottom-footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  column-gap: 1rem;
  /* margin-bottom: -20px; */
}

.bottom-footer-row h1 {
  font-size: 1.8rem;
  color: var(--light-color);
  font-weight: 400;
}

.bottom-footer-row img {
  width: 300px;
}

/* Footer Section End */
